.page1 {
    background-color: rgb(0, 20, 27);
    color: white;
    font-family: Franklin Gothic Medium;
    text-align: center;
}

h1 {
    font-size: 64px;
}

p {
    font-size: 24px;
}

.button {
    border: 4px;
    border-style: solid;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.151);
    transition: 0.5s;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.329);
    padding: 16px;
    font-size: 24.5px;
    border-radius: 12px;
}

.box {
    border: 6px;
    border-style: solid;
    margin: 24px;
    padding: 12px;
    transition: 0.23s;
    background-color: rgba(250, 235, 215, 0.103);
}

.box:hover {
    transform: scale(0.994);
    border-radius: 12px;
    background-color: rgba(250, 235, 215, 0.191);
}
